<ion-content [fullscreen]="true">
  <div id="container-title-app">
    <h1 class="">PERDIDOCS</h1>
  </div>
  <div class="container-img-home">
    <div class="img-home">
      <img src="assets/logo.png" id="logo" alt="ojos">
    </div>
  </div>
  <div id="container">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" size-sm="6" size-lg="4">
          <ion-card routerLink="/found-document">
            <ion-card-content>
              <div class="div-icons">
                <img class="img-icon" src="assets/document.png" alt="">
              </div>
              <div class="card-divtitle">
                <h1>Encontré Documento</h1>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="4" >
          <ion-card routerLink="/search-document">
            <ion-card-content>
              <div class="div-icons">
                <img class="img-icon" src="assets/magnifying-glass.png" alt="">
              </div>
              <div class="card-divtitle">
                <h1>Buscar Documento</h1>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="isDevice" size="12" size-sm="6" size-lg="4">
          <ion-card routerLink="/account">
            <ion-card-content>
              <div class="div-icons">
                <img src="assets/settings.png" style="width: 55px;" alt="">
              </div>
              <div class="card-divtitle">
                <h1>Mi Cuenta</h1>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
